body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.btn-primary {
    background-color:rgb(208, 40, 99);
    border-color:rgb(173, 29, 87);
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}
